/* Navigation bar */
.navbar {
    background-color: #FAEBD7;
}

.navbar-brand {
    font-family: 'Vollkorn', serif;
    color: black;
    pointer-events: none;
    margin: 5px;
}

.nav-link {
    font-family: 'Sen', sans-serif;
    font-size: 12px;
    color: black;
}

.nav-link:hover {
    color:rgba(0,0,0,.4);
    transition: color 170ms ease-in-out;
}

/* Header */
h2 {
    text-align: center;
    font-family: 'Sen', sans-serif;
    padding: 25px;
}

/* Contact Form */
.form-control, .btn {
    margin: 6px;
    font-family: 'Sen', sans-serif;
}

.btn {
    margin-bottom: 40px;
}

/* Footer */
footer {
    background-color: #FAEBD7;
}

.wrapper {
    padding: 10px;
}

.networking-icons {
    text-align: center;
    padding: 6px;
}

.networking-icons a {
    color: black;
}

.networking-icons a:hover {
    color:rgba(0,0,0,.4);
    transition: color 170ms ease-in-out;
}

.wrapper p {
    text-align: center;
    font-size: 12px;
    font-family: 'Sen', sans-serif;
    margin-bottom: 0;
}
  
/* Media Query */
@media (max-width: 400x) {
    .nav-minimize {display: none !important;}
}